@charset "utf-8";
/* CSS Document */

*{
	box-sizing: border-box;
}

body{
	
	overlfow-x:hidden;
	
	background: #A6F4EE;
	margin: 0;
}


#demo {
  height:100%;
  position:relative;
  overflow:hidden;
}


.green{
  background-color:#6fb936;
}
        .thumb{
            margin-bottom: 30px;
        }
        
        .page-top{
            margin-top:85px;
        }

   
img.zoom {
    width: 100%;
    height: 200px;
    border-radius:5px;
    object-fit:cover;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}
        
 
.transition {
    -webkit-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
    .modal-header {
   
     border-bottom: none;
}
    .modal-title {
        color:#000;
    }
    .modal-footer{
      display:none;  
    }



.gallery-container{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: 150px;
	padding:20px;
	grid-gap: 10px;
	
}

.gallery__item{
	position: relative;
}

.gallery__img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}


@font-face{
	font-family: 'Cursiva';
	src: url("../fonts/Secret Winter.ttf") format('truetype');
	src: url("../fonts/Secret Winter.ttf")format('opentype');
}

.fuente1{
	font-family: 'Raleway', sans-serif;
}

.fuente2{
	font-family: 'Cursiva';
}

#TypoColor{
	color: #FFFFFF;
	padding: 25px;
	margin: 30px;
}

#TypoColor2{
	color: #FFFFFF;
	padding: 15px;
	margin: 20px;
}

h1{
	font-family: 'Cursiva', regular;
	font-size: clamp(1.3rem, 3vw, 2rem);
}

p{
	font-family: 'Raleway', sans-serif;
	font-size: clamp(1rem, 1.5vw, 2rem);
}

.body {
	overflow-x: hidden;
	font-size: clamp(0.7rem, 2.5vw, 6rem);
}



.bg1{
	width: 100%;
	height: 100%;
	background-image: url( "../img/galeria/Rostro Low Poly.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	float: left;
	left: 0;
	top: 0;
	height: auto;
	outline-style: none;
	text-align: center;
	overflow: hidden;
}

.bg2{
	width: 50%;
	height: auto;
	padding: 5px;
	background-image: url( "../img/icon/cliked on/notas.png");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	float: left;
	left: 0;
	top: 0;
	height: auto;
	outline-style: none;
	text-align: center;
	overflow: hidden;
}

#colaborations{
	color: #FFFFFF;
	padding: 25px;
	margin: 30px;
}
